name: test itself
on:
  # schedule:
  #   - cron: "*/10 * * * *" # Каждую среду в 00:00
  workflow_dispatch:

jobs:
  update:
    name: Update
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v1
        with:
          node-version: "12.x"
          registry-url: "https://npm.pkg.github.com"
          scope: "@gpn-prototypes"

      - name: Upgrade dependencies
        run: |
          yarn
          yarn upgrade @gpn-prototypes/vega-ui --latest
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3.5.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Обновление зависимостей
          title: Обновление зависимостей
          body: |
            Описание изменений:
          labels: dependencies
          branch: upgrade--dependencies
